{
  "root": true,
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-strongly-recommended"
  ],
  "rules": {
    "@typescript-eslint/no-redeclare": "off",
    "vue/multi-word-component-names": "off",
    "prettier/prettier": "error",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "semi": "off"
  }
}
